<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" cacheResultFile=".cache/phpunit/phpunit.result.cache" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage/>
    <testsuites>
        <testsuite name="General">
            <file>tests/GlobalsTests.php</file>
            <file>tests/PluginTests.php</file>
            <!--<file>tests/UCRM/REST/Endpoints/GeneralTests.php</file>-->
        </testsuite>
        <testsuite name="unit">

        </testsuite>
    </testsuites>
</phpunit>
